<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Clean Architecture</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto p-5">
        <div class="text-center p-5">
            <h1 class="text-3xl font-bold">Flask Clean Architecture</h1>
            <a href="https://github.com/zer0-911/flask-clean-arch/img/header.png">
                <img src="https://github.com/zer0-911/flask-clean-arch/blob/main/img/header.png?raw=true"
                    alt="flask-clean-arch" class="mx-auto">
            </a>
            <div class="flex justify-center space-x-4 mt-4">
                <a href="https://www.linkedin.com/in/moh-iqbal-fatchurozi/" target="_blank">
                    <img height="20"
                        src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white">
                </a>
                <a href="#" target="_blank">
                    <img height="20" src="https://img.shields.io/github/license/zer0-911/flask-clean-arch"
                        alt="License">
                </a>
                <a href="#" target="_blank">
                    <img height="20" src="https://img.shields.io/github/commit-activity/t/zer0-911/flask-clean-arch"
                        alt="Last Commits">
                </a>
                <a href="#" target="_blank">
                    <img height="20" src="https://img.shields.io/github/repo-size/zer0-911/flask-clean-arch"
                        alt="Repo Size">
                </a>
            </div>
            <div class="text-center my-5">
                <a href="#-introduction" class="m-2">Introduction</a>
                <a href="#-tech-stack" class="m-2">Tech Stack</a>
                <a href="#%EF%B8%8F-installation" class="m-2">Installation</a>
                <a href="#-reference" class="m-2">Reference</a>
                <a href="#-issue" class="m-2">Issue</a>
                <a href="#-license" class="m-2">License</a>
                <a href="#-author" class="m-2">Author</a>
            </div>
        </div>
        <section id="introduction" class="my-5">
            <h2 class="text-2xl font-semibold">📄 Introduction</h2>
            <p>
                Flask Clean Architecture is a project template designed to help developers build scalable and
                maintainable web applications using the Flask framework. It follows the principles of Clean
                Architecture, ensuring a clear separation of concerns and promoting best practices in software
                development. This template provides a solid foundation for your Flask projects, including a
                well-structured directory layout, essential configurations, and integration with popular tools and
                libraries.
            </p>
        </section>
        <section id="tech-stack" class="my-5">
            <h2 class="text-2xl font-semibold">💻 Tech Stack</h2>
            <p>Framework, Library, Database, Tools, etc</p>
            <div class="flex flex-wrap justify-center">
                <a href="https://www.postgresql.org/" target="_blank">
                    <img height="20"
                        src="https://img.shields.io/badge/Postgresql-0D96F6?style=for-the-badge&logo=postgresql&logoColor=white"
                        alt="postgresql">
                </a>
                <!-- Add more as needed -->
            </div>
        </section>
        <section id="installation" class="my-5">
            <h2 class="text-2xl font-semibold">⚙️ Installation</h2>
            <ol class="list-decimal ml-5">
                <li>Clone this repository: <code>git clone https://github.com/zer0-911/flask-clean-arch</code></li>
                <li>Install dependencies: <code>pip install -r requirements.txt</code></li>
                <li>Run the app: <code>flask run -h 0.0.0.0 -p 3000</code></li>
            </ol>
        </section>
        <section id="issue" class="my-5">
            <h2 class="text-2xl font-semibold">🚩 Issue</h2>
            <p>If you found a bug or an issue, please report by opening a new issue on <a
                    href="https://github.com/zer0-911/flask-clean-arch/issues" target="_blank">this repository</a>.</p>
        </section>
        <section id="license" class="my-5">
            <h2 class="text-2xl font-semibold">📝 License</h2>
            <p>This project is licensed under the MIT License - see the <a href="LICENSE" target="_blank">LICENSE</a>
                file for details</p>
        </section>
        <section id="author" class="text-center my-5">
            <h2 class="text-2xl font-semibold">📌 Authors</h2>
            <div>
                <h3>Moh. Iqbal Fatchurozi</h3>
                <div class="flex justify-center space-x-4">
                    <a href="https://www.linkedin.com/in/moh-iqbal-fatchurozi/" target="_blank">
                        <img height="20"
                            src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                            alt="linkedin">
                    </a>
                    <a href="https://github.com/zer0-911" target="_blank">
                        <img height="20"
                            src="https://img.shields.io/badge/Github-000000?style=for-the-badge&logo=github&logoColor=white"
                            alt="github">
                    </a>
                    <a href="https://iqbalfatchurozi.tech" target="_blank">
                        <img height="20"
                            src="https://img.shields.io/badge/Portfolio-00BC8E?style=for-the-badge&logo=googlecloud&logoColor=white"
                            alt="portfolio">
                    </a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>